body {
  font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  background: url("../images/nebula.jpg");
  background-size: cover;
  color: white;
}

a {
  color: white;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  margin: 20px 0 10px 0;
}
header img {
  margin: 40px 0px 0px 0px;
  height: 200px;
}
ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
display: inline;
padding: 0px 10px 0px 10px;
}
main {
max-width: 500px;
padding: 20px;
margin: 0 auto;
}

img {
  width: 100%;
}

@media (max-width: 500px) {
h1 {
font-size: 36px;
padding: 5px;
}
li {
padding: 5px;
display: block;
}
p {
font-size: 20px;
}
}